@import url('http://fonts.cdnfonts.com/css/open-sans');
@import url('http://fonts.cdnfonts.com/css/merriweather');
@import url('http://fonts.cdnfonts.com/css/inter');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  background: linear-gradient(116.29deg, #333333 0%, rgba(33, 33, 33, 0.9)100.06%);
}


.HeadSection {
  background: url("./images/Rectangle 9218.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}

.navbar-brand {
  margin-left: 3rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  left: 0px;
  top: 0px;


}

.nav {
  display: flex;
  flex-direction: row;
  color: #BBBBBB;  
}

.nav-item {
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  padding: 0 10px;
}

.nav-item:active {
  
}

ul {
  margin-right: 2rem;
}

.noteA {
  margin-top: 54px;
  width: 64px;
  height: 64px;
  margin-left: 1222px;
}

.firsttxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  

}

.firsttxt > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  color: rgba(225, 185, 89, 1);
  font-family: 'Merriweather', sans-serif;
  width: 800px;
  justify-content: center;
}

#happens {
  align-items: center;
  padding-left: 60px;
}

.firsttxt > p {
  font-size: 24px;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #F0F0F0;
  width: 640px;
 padding-top: 32px;
 padding-left: 50px;
 justify-content: center;
 align-items: center;
}

.abutton {
  display: flex;
  flex-direction: row;
}

.abutton > img {
  margin-left: 6rem;
}

.abutton > button {
  margin-left: 4rem;
}

#learn {
  margin-left: 2rem;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.12);
  border-radius: 8px;
  background-color: #E1B959;
  width: 240px;
  height: 56px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.topl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 830px;
  padding-top: 64px;

}

#notes {
  margin-left: 1000px;
  margin-bottom: 52px;
}

.rectangle {
  background-color: #EDD59C;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.12);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 48px 64px;
  gap: 120px;
  width: 828px;
  height: 192px;
  margin-left: 250px;
  margin-top: -80px;
}

.one {
  display: flex;
  flex-direction: column;
}
.two {
  display: flex;
  flex-direction: column;
}
.three {
  display: flex;
  flex-direction: column;
}
.four {
  display: flex;
  flex-direction: column;
}

.number {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #212121;
  width: 69px;
}

.word {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  width: 85px;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}


.trending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thetrend > h2 {
  font-family: 'Merriweather', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  color: #FCFCFC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 150px;
}

.thetrend > p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #EEEEEE;
  width: 800px;
  height: 64px;
}

.thetrend > img {
  margin-left: 790px;
  margin-top: 186px;
}

.theli > #groupimg {
  border-color: rgba(225, 185, 89, 1.0);
  border-radius: 32px;
  border: 4px solid #E1B959;
  margin-top: -11rem;
}

.theli > #playb {
  margin-top: 9rem;
  padding-left: 21.5rem;
}

.theli > ul {
  display: flex;
  flex-direction: row;
  justify-content: ;
  margin-top: -29.6rem;
  padding-left: 1.4rem;

}

#litxt {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  color: #FDFDFD;
  padding-left: 8px;
}

#unote {
  margin-top: 265px;
  margin-left: 8.8rem;
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  gap: 16px;
  height: 112px;
}

.mid > h2 {
  color: #FCFCFC;
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
  font-style: normal;
  font-family: 'Merriweather', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.mid > p {
  color: #EEEEEE;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  font-family: 'Open Sans', sans-serif;
  
}

.middle {
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.exactly {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 95px;
  width: 1240px;
  height: 540px;

}

.exactlyone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  margin-top: 66px;
  width: 408px;
  height: 408px;
}

.exactlyone > h2 {
  color: #E1B959;
  text-decoration: underline;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  font-family: 'Merriweather', sans-serif;
  height: 56px;
}

.exactlyone > p {
  color: #EEEEEE;
  line-height: 32px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  width: 408px;
  height: 336px;
}

#Crayon {
  box-sizing: border-box;
  margin-top: 80px;
  width: 40%;
  height: auto;
}

.Don {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.Donone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
  padding: 0px;
  gap: 16px;
  padding-left: 76px;
}

.Donone > h2 {
  text-decoration: underline;
  color: #E1B959;
  line-height: 56px;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Merriweather', sans-serif;
}

.Donone > p {
  color: #EEEEEE;
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  width: 408px;
  height: 304px;
}

#donimg {
  padding-top: 240px;
  width: auto;
  height: 100%;
  
}

#donim {
  box-sizing: border-box;
  width: 608px;
  height: 540px;
  padding-right: 84px;
}

.music {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.musicone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
  padding: 0px;
  gap: 16px;
  padding-right: 100px;
}

.musicone > h2 {
  color: #E1B959;
  text-decoration: underline;
  line-height: 56px;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Merriweather', sans-serif;
}

.musicone > p {
  color: #EEEEEE;
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  width: 408px;
  height: 336px;
}

#musicimg {
  box-sizing: border-box;
  width: 608px;
  height: 540px;
  padding-left: 69px;
}

#musicim {
  padding-top: 290px;
  width: auto;
  height: 100%;
}

.Services {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 80px;
  width: 920px;
  height: 1392px;
  margin-left: 160px;
}

.Offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  height: 112px;
  width: 623px;
}

.Offer > h2 {
  color: #FCFCFC;
  line-height: 64px;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Merriweather', sans-serif;
}

.Offer > p {
  color: #EEEEEE;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  margin-left: -70px;
}

.actvities {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 120px;
  width: 920px;
  height: 560px;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 400px;
  height: 560px;
}

.brand > img {
  width: 400px;
  height: 320px;
  filter: drop-shadow(0px 4px 8px rgba(14, 31, 53, 0.12));
  border-radius: 8px;
}

.brand > h3 {
  color: #FCFCFC;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Merriweather', sans-serif;
}

.brand > p {
  color: #EEEEEE;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  width: 292px;
  height: 72px;
  text-align: center;
}

.brand > button {
  padding: 12px 24px;
  gap: 8px;
  border: 1px solid #E1B959;
  filter: drop-shadow(0px 4px 8px rgba(14, 31, 53, 0.12));
  border-radius: 4px;
  background-color: transparent;
  color: #E1B959;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.sync {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 400px;
  height: 560px;
}

.sync > img {
  width: 100%;
  height: auto;
}

.sync > h3 {
  color: #FCFCFC;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Merriweather', sans-serif;
}

.sync > p {
  color: #EEEEEE;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  width: 292px;
  height: 72px;
  text-align: center;
}

.sync > button {
  padding: 12px 24px;
  gap: 8px;
  border: 1px solid #E1B959;
  filter: drop-shadow(0px 4px 8px rgba(14, 31, 53, 0.12));
  border-radius: 4px;
  background-color: transparent;
  color: #E1B959;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#justimg {
  margin-left: -1110px;
  margin-top: -65px;
}

#justim {
  margin-left: 930px;
  margin-top: -160px;
}

.nowactvities {
  margin-top: -90px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 120px;
  width: 920px;
  height: 560px;
}

.performance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 400px;
  height: 560px;
}

.performance > img {
  width: 100%;
  height: auto;
}

.performance > h3 {
  color: #FCFCFC;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Merriweather', sans-serif;
}

.performance > p {
  color: #EEEEEE;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  width: 292px;
  height: 72px;
  text-align: center;
}

.performance > button {
  padding: 12px 24px;
  gap: 8px;
  border: 1px solid #E1B959;
  filter: drop-shadow(0px 4px 8px rgba(14, 31, 53, 0.12));
  border-radius: 4px;
  background-color: transparent;
  color: #E1B959;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.creation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 400px;
  height: 560px;
}

.creation > img {
  width: 400px;
  height: 320px;
}

.creation > h3 {
  color: #FCFCFC;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Merriweather', sans-serif;
}

.creation > p {
  color: #EEEEEE;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  width: 292px;
  height: 72px;
  text-align: center;
}

.creation > button {
  padding: 12px 24px;
  gap: 8px;
  border: 1px solid #E1B959;
  filter: drop-shadow(0px 4px 8px rgba(14, 31, 53, 0.12));
  border-radius: 4px;
  background-color: transparent;
  color: #E1B959;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#nowimg {
  margin-left: 1000px;
  margin-top: -60px;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 172px;
  padding: 0px;
  gap: 80px;
  width: 1240px;
  height: 744px;

}

.artisttxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 505px;
  height: 112px;
}

.artisttxt > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  color: #FCFCFC;
  font-family: 'Merriweather', sans-serif;
  display: flex;
  flex-direction: row;
  
}

.artisttxt > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  font-style: normal;
  color: #EEEEEE;
  align-items: center;
  font-family: 'Open Sans', sans-serif;

}

.artistimg {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 1240px;
  height: 440px;
  margin-right: 70px;
  
}

.theonea {
  width: 397px;
  height: 440px;
  filter: drop-shadow(0px 4px 8px rgba(14, 32, 53, 0.12));
}

.theoneb {
  width: 398px;
  height: 440px;
  filter: drop-shadow(0px 4px 8px rgba(14, 31, 53, 0.12));
}

.theonec {
  width: 397px;
  height: 440px;
  filter: drop-shadow(0px 4px 8px rgba(14, 31, 53, 0.12));
}

.thedot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  width: 200px;
  height: 32px;
  margin-top: 80px;
}

.dot {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 2px solid #FCFCFC;
  border-radius: 50%;
}

.dote {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 2px solid #E1B959;
  background-color: #E1B959;
  border-radius: 50%;
}

#dotimg {
  margin-top: 126px;
  margin-left: 590px;
}

.suscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 80px;
  width: 1012px;
  height: 352px;
  margin-top: 54px;
  margin-left: 100px;
  margin-bottom: 160px;

}

.suscribetxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 960px;
  height: 216px;

}

.suscribetxt > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  color: #FCFCFC;
  font-family: 'Merriweather', sans-serif;
}

.suscribetxt > p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #FCFCFC;
  font-family: 'Open Sans', sans-serif;
}

form {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 padding: 0px;
 gap: 16px;
 width: 1012px;
 height: 56px;
 margin-right: 16px;
}

#subname {
  box-sizing: border-box;
  padding: 8px;
  gap: 8px;
  align-items: center;
  border: 0.5px solid #DDDDDD;
  border-radius: 4px;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  width: 240px;
  height: 56px;
  margin-right: 10px;

}

#subemail {
  width: 500px;
  height: 56px;
  box-sizing: border-box;
  padding: 8px;
  gap: 8px;
  align-items: center;
  border: 0.5px solid #DDDDDD;
  border-radius: 4px;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  margin-right: 10px;


}

#subsub {
  width: 240px;
  height: 56px;
  box-sizing: border-box;
  padding: 12px 24px;
  gap: 8px;
  align-items: center;
  border: 1px solid #E1B959;
  border-radius: 4px;
  background-color: #E1B959;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.12);

}

footer {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 40px;
  background-color: #E1B959;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 40px;
}

.footertxt {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #212121;
  font-family: 'Inter', sans-serif;
}

.footera > a{
  padding: 10px;
}